.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.collapsible {
  font-size: 0.7rem;
}

.collapsible-header p {
  margin: 0;
  padding: 1rem;
  line-height: 1rem;
}

.collapsible-body {
  padding: 1rem;
}

.timeline {
  /*width: 50%;*/
  /*width: 1000px;*/
  /*margin: auto;*/
  /*overflow: auto;*/
}

.progress-donut-container {
  border: 1px solid lightblue;
  margin: auto;
  height: 7.9em;
  transition: 300ms;
}

.dashboardTimeline {
  /*width: 50%;*/
  /*width: 1000px;*/
  /*margin: auto;*/
  /*overflow: auto;*/
}

.progress-donut-chart {
  position: relative;
  top: -1.8em;
  transition: 300ms;
}

.pie-chart-name {
  position: relative;
  bottom: -1.6em;
  z-index: 1;
  transition: 300ms;
}

Table {
  margin: auto;
  width: 80%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
